<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>部署</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/comm.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery.dataTables.css') }}" />
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery.dataTables.js') }}"></script>
  </head>
  <body>
    <div id="nav">
    </div>
    <div class="wrapper">
      <h1>Welcome to Google Ads Solutions</h1>
      <div class="form-list">
        <div class="form-item">
          Google Ads Solution:
          <select>
            <option value ="baremetal">BareMetal</option>
            <option value ="lego">Lego</option>
          </select>
        </div>
        <div class="form-item">
          <span>Project_ID:</span>
          <input type="text" name="project_id" id="project_id" />
        </div>
        <div class="form-item">
          <span>Bucket:</span>
          <input type="text" name="bucket_name" id="bucket_name" />
        </div>
        <a href="/authorize">授权</a>
        <div class="btn">
          <button id ="create" onclick="create()">创建部署任务</button>
          <!-- <button id ="destroy" onclick="destroy()">Destroy</button> -->
        </div>
        <div>
          <button id ="revoke" onclick="revoke()">Revoke</button>
          <button id ="clear" onclick="clearsession()">ClearSession</button>
        </div>
      </div>
    </div>
    
    <table id="table_id_example" class="display">
      <thead>
          <tr>
              <th>id</th>
              <th>solution</th>
              <th>create time</th>
              <th>update time</th>
              <th>status</th>
              <th>action</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
  </table>

  <script>
    // $(document).ready( function () {
      var table = $('#table_id_example').DataTable({
          ajax : {
            url: "/list_deploy",
            type: "get",
            dataSrc: function(d){
              return d
            }
          }
        });
    // } );
      
    $('#table_id_example tbody').on( 'click', 'tr', 'button',function () {
      current_data = table.row( this ).data();
      apply(current_data[0])
    } );

    function apply(deploy_id){
      $.ajax({
          url: "/apply",
          type: "post", 
          data: {
            deploy_id: deploy_id
          },
          success: function(res) {
            alert(res);
          }
        });
    }

    function create(deploy_id) {
      var project_id = $("#project_id").val().trim();
      var bucket_name = $("#bucket_name").val().trim();
      var solution = $(":selected").val();
      if(project_id !== '' && bucket_name !== ''){
        document.getElementById("create").setAttribute("disabled", true);
        $.ajax({
          url: "/create",
          type: "post", 
          data: {
            project_id: project_id,
            bucket_name: bucket_name,
            solution: solution
          },
          success: function(res) {
            document.getElementById("create").removeAttribute("disabled");
            table.ajax.reload();
            alert('创建任务成功');
          }
        });
      }
      else{
        alert("project id 或者bucket name不能为空")
      }
    }

    function destroy() {
      var project_id = $("#project_id").val().trim();
      var bucket_name = $("#bucket_name").val().trim();
      var solution = $(":selected").val();      
      if(project_id !== '' && bucket_name !== ''){
        document.getElementById("destroy").setAttribute("disabled", true);
        $.ajax({
          url: "/destroy",
          type: "post",
          data: {
            project_id: project_id,
            bucket_name: bucket_name,
            solution: solution
          },
          success: function(res) {
            document.getElementById("destroy").removeAttribute("disabled");
            alert(res);
          }
        });
      }
      else{
        alert("project id 或者bucket name不能为空")
      }
    }

    function clearsession(){
      $.ajax({
          url: "/clear",
          type: "get",
          success: function(res) {
            alert(res);
          }
        });
    }
    function revoke(){
      $.ajax({
          url: "/revoke",
          type: "get",
          success: function(res) {
            alert(res);
          }
        });
    }    
  </script>
  </body>  
</html>
