<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Google Pangu Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/comm.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery.dataTables.css') }}" />
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery.dataTables.js') }}"></script>
  </head>
  <body>
    <div id="fade" class="black_overlay"></div>
    <div id="log_div" class="white_content_small">
      <textarea id="logdata"></textarea>
      <button onclick="closelog()">Close</button>
      <button onclick="refreshlog()">Refresh</button>
    </div>
    <div id="detail_div" class="white_content_small">
      <textarea id="detail_data"></textarea>
      <button onclick="close_detail()">Close</button>
    </div>

    <div class="wrapper">
      <h1>Welcome to Google Ads Solutions</h1>
      <div class="form-list">
          <span>Choose Solution:</span>
          <select id = "solution"></select>
          <div id="parameter_list" style="margin-bottom: 20px;"></div>
      </div>
      <!-- <a href="/authorize">点击登录</a> -->
      <!-- <button id ="revoke" onclick="revoke()">Revoke</button>
      <button id ="clear" onclick="clearsession()">ClearSession</button> -->
    </div>
    <table id="table_id_example" class="display">
      <thead>
          <tr>
              <th>DeployID</th>
              <th>SolutionID</th>
              <th>ProjectID</th>
              <th>Email</th>
              <th>CreateTime</th>
              <th>UpdateTime</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
  </table>

  <script>
    var table = $('#table_id_example').DataTable({
        order: [[0, 'desc']],
        ajax : {
          url: "/list_deploy_email",
          type: "get",
          dataSrc: function(d){
            return d
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert('登录已失效，请重新登录');
            window.location.href='/login';
          }
        }
      });

    $.ajax({
        url: "/list_solution",
        type: "post",
        async: true,
        data: {},
        success: function(res) {
          $("#solution").html(res)
          $("#solution").trigger("change")
        }
      });
    
    $("#solution").on("change", function(){
        the_id = $(this).children(":selected").attr("id")
        $.ajax({
          url: "/list_parameter",
          type: "post",
          async: true,
          data: {
            solution_id: the_id
          },
          success: function(res) {
            $("#parameter_list").html(res)
          }
        });
    });

    $(document).on("click", "#apply", function() {
      current_data = table.row($(this).closest('tr')).data();
      deploy_id = current_data[0]
      apply(deploy_id);
    });

    $(document).on("click", "#destroy", function() {
      current_data = table.row($(this).closest('tr')).data();
      deploy_id = current_data[0]
      destroy(deploy_id);
    });

    $(document).on("click", "#deploylog", function() {
      current_data = table.row($(this).closest('tr')).data();
      deploy_id = current_data[0]
      deploylog(deploy_id);
    });

    $(document).on("click", "#upgrade", function() {
      current_data = table.row($(this).closest('tr')).data();
      deploy_id = current_data[0]
      upgrade(deploy_id);
    });

    $(document).on("click", "#describe_deploy", function() {
      current_data = table.row($(this).closest('tr')).data();
      deploy_id = current_data[0]
      describe_deploy(deploy_id);
    });

    function create(deploy_id) {
      var solution = $(":selected").val();
      var parameter_data ={}
      $("#parameter_list input").each(function(){
        parameter_data[this.id] =this.value
      })
      parameter_data['solution_id'] = solution
      $.ajax({
        url: "/create",
        type: "post", 
        data: JSON.stringify(parameter_data),
        contentType: "application/json",
        success: function(res) {
          table.ajax.reload();
          alert(res);
        }
      });
    }    

    function apply(deploy_id){
      $.ajax({
          url: "/apply",
          type: "post", 
          async: true,
          data: {
            deploy_id: deploy_id
          },
          success: function(res) {
            alert(res);
            table.ajax.reload();
          }
        });
    }

    function destroy(deploy_id) {   
      $.ajax({
        url: "/destroy",
        type: "post",
        async: true,
        data: {
          deploy_id: deploy_id
        },
        success: function(res) {
          alert(res);
          table.ajax.reload();
        }
      });
    }
    
    function describe_deploy(deploy_id){
      $.ajax({
          url: "/describe_deploy",
          type: "post", 
          async: true,
          data: {
            deploy_id: deploy_id
          },
          success: function(res) {
            $("#fade").show();
            $("#detail_div").show();
            $("#detail_data").html(res);
          }
        });
    }

    function refreshlog(){
      deploylog(deploy_id)
    }

    function deploylog(deploy_id){
      $.ajax({
          url: "/deploylog",
          type: "post", 
          async: true,
          data: {
            deploy_id: deploy_id
          },
          success: function(res) {
            $("#fade").show();
            $("#log_div").show();
            $("#logdata").html(res)
          }
        });
    }    

    function closelog(){
      $("#fade").hide();
      $("#log_div").hide();
      table.ajax.reload();
    }

    function close_detail(){
      $("#fade").hide();
      $("#detail_div").hide();
    }

    function upgrade(deploy_id){
      $.ajax({
          url: "/upgrade",
          type: "post", 
          data: {
            deploy_id: deploy_id
          },
          success: function(res) {
            alert(res);
            table.ajax.reload();
          }
        });
    } 

    function clearsession(){
      $.ajax({
          url: "/clear",
          type: "get",
          success: function(res) {
            alert(res);
          }
        });
    }
    function revoke(){
      $.ajax({
          url: "/revoke",
          type: "get",
          success: function(res) {
            alert(res);
          }
        });
    }    
  </script>
  </body>  
</html>
